@use '@/shared/styles/variables';
@use '@/shared/styles/constants';
@use '@/shared/styles/mixins';

.LastContactContainer {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: variables.$whiteColor;
    border-radius: 0 0 20px 20px;

    &:hover {
        color: variables.$blueColor;
    }
}

@include mixins.media-down(constants.$mobile-min-width) {
    .LastContactContainer {
        border-radius: 0;
    }
}


