@use '@/shared/styles/variables';
@use '@/shared/styles/constants';
@use '@/shared/styles/mixins';

.contacts {
    width: 100%;
    min-width: 280px;
    background-color: variables.$whiteColor;
}

.contactsContainer {
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: 20px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    padding: 0 30px 20px 30px;
    box-sizing: border-box;
}

@include mixins.media-down(constants.$mobile-max-width) {
    .formContainer {
        padding: 0 15px 15px 15px;
    }
}
