*, *::before, *::after {
    box-sizing: border-box;
}
.box {
    background-color: #f8f9fa;
    border-radius: 20px;
    padding: 1.875rem;
    transition: box-shadow .3s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    min-width: 700px;
}
.inner {
    background-color: #fff;
    padding: 1.875rem;
    transition: box-shadow .3s ease-in-out;
}
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.05)!important
}
.skillsContainer{
    align-items: flex-start;

}