.contactsBlockItem {
    display: flex;
    align-items: center;
    margin-bottom: 0.6875rem;
    /*border: 1px solid;*/
    flex-wrap: wrap;
}
.contactsBlock {
    background-color: #f5f8f9;
    padding-top: 2rem;
    margin-left: 1.875rem;
    display: flex;
    flex-direction: column;
   /* border: 1px solid;*/
}

@media screen and (max-width: 1620px){
    .contactsBlock {
        flex-direction: row;
        justify-content: space-between;
        display: none;
    }
}
.icon{
    margin-right: 0.875rem;
}
.contactsBlockItem a{
    color: #44566c;
    cursor: pointer;
    text-decoration: none;
   /* transition: color .3s cubic-bezier(.72,.16,.345,.875);*/
}



