@import "./../../Common/Styles/variables";
@import "./../../Common/Styles/constants";

@media screen and (max-width: $desktop-dpi-max-width) {
  .slideBlock {
    position: static !important;
    border-radius: 0 !important;
    width: 100%;
    box-shadow: 0 0 !important;
  }
  .aside {
    flex: 1 0 72.4% !important;
  }
  .avatar {
    margin-top: 40px !important;
    transition: 0s !important;
  }
  .nameAvatar {
    border-radius: 0 !important;
  }
}

.aside {
  width: 100%;
  display: flex;
  flex: 0 0 28%;
  z-index: 2;
  justify-content: center;
  min-width: 280px;
  flex-wrap: wrap;
  max-height: 100vh;

  .slideBlock {
    text-align: center;
    background-color: $firstInnerBlockBackgroundColor;
    border-radius: 20px;
    position: fixed;
    min-width: 280px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05);
    overflow: visible;

    .nameAvatar {
      background-color: $secondInnerBlockBackgroundColor;
      border-radius: 20px 20px 0 0;
    }

    .avatar {
      width: 200px;
      height: 188px;
      border-radius: 40px;
      margin-top: -94px;
      transition: margin-top 0.7s ease-in-out;
    }

    .avatarActive {
      width: 200px;
      height: 188px;
      border-radius: 40px;
      margin-top: 40px;
      transition: margin-top 0.7s ease-in-out;
    }
  }
}
