@use '@/shared/styles/variables';
@use '@/shared/styles/constants';
@use '@/shared/styles/mixins';

.nav {
    display: flex;
    height: 50px;
    font-family: inherit;
    align-items: center;
    justify-content: flex-end;
    font-size: 16px;
    flex-wrap: wrap;
    overflow: hidden;

    a {
        text-decoration: none;
        color: variables.$bodyTextColor;
    }
}

.hamburger {
    > div {
        background-color: variables.$blueColor;
        color: variables.$whiteColor;
        border-radius: 24px;
    }
}

.menuButton {
    margin-left: 1rem;
    display: flex;
    cursor: pointer;
    overflow: hidden;
}

.burgerMenu {
    transition: transform 0.6s ease;
    width: 300px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transform: translateX(-20px);
}

.burgerMenuActive {
    @extend .burgerMenu;
    cursor: auto;
    transform: translateX(400px);
}

@include mixins.media-down(constants.$mobile-middle-width) {
    .hamburger {
        > div {
            display: none;
        }
    }

    .burgerMenuActive {
        transform: translateX(0);
    }
}

@include mixins.media-down(constants.$mobile-min-width) {
    .burgerMenuActive {
        transform: translateX(0);
        font-size: 14px;
    }
}


