@use '@/shared/styles/variables';

.worksContainer {
    width: 100%;
    min-width: 280px;
    background-color: variables.$whiteColor;
}

.worksContent {
    display: flex;
    justify-content: center;
    background-color: variables.$whiteColor;
    margin-right: 15px;
    margin-left: 15px;
    flex-wrap: wrap;
}
