@use '@/shared/styles/variables';
@use '@/shared/styles/constants';
@use '@/shared/styles/mixins';

.contactsBlock {
    background-color: variables.$firstInnerBlockBackgroundColor;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 1rem;
}

.contactsBlockItem {
    display: flex;
    align-items: center;
    margin-bottom: 0.6875rem;
    flex-wrap: wrap;
    margin-right: 1rem;

    .icon {
        margin-right: 0.875rem;
    }

    a {
        color: variables.$bodyTextColor;
        cursor: pointer;
        text-decoration: none;
    }
}

.lastContactBlockItem {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 1rem;

    .icon {
        margin-right: 0.875rem;
    }

    a {
        color: variables.$bodyTextColor;
        cursor: pointer;
        text-decoration: none;
    }
}

@include mixins.media-down(constants.$desktop-dpi-min-width) {
    .contactsBlock {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-left: 2rem;
        padding-right: 1rem;
    }

    .lastContactBlockItem {
        margin-bottom: 0.6875rem;
    }
}

@include mixins.media-down(constants.$mobile-max-width) {
    .contactsBlock {
        flex-direction: column;
        margin-left: 1.875rem;
        font-size: 17px;
    }
}


