@import "../Common/Styles/variables";
@import "../Common/Styles/constants";

.nav {
  /*border: 1px solid;*/
  display: flex;
  height: 50px;
  font-family: inherit;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
  flex-wrap: wrap;
  overflow: hidden;

  .hamburger {
    > div {
      background-color: $buttonAndFocusTextColor;
      color: $secondInnerBlockBackgroundColor;
      border-radius: 24px;
      @media screen and (max-width: $mobile-middle-width) {
          display: none;
      }
    }
  }

  a {
    text-decoration: none;
    color: $bodyTextColor;
  }

  .menuButton {
    margin-left: 1rem;
    display: flex;
    cursor: pointer;
    overflow: hidden;
  }

  .burgerMenu {
    transition: 0.6s;
    width: 300px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transform: translateX(-20px);

  }

  .burgerMenuActive {
    @extend .burgerMenu;
    cursor: auto;
    transform: translateX(400px);
    @media screen and (max-width: $mobile-middle-width) {
      transform: translateX(0);
    }
    @media screen and (max-width: $mobile-min-width) {
      transform: translateX(0);
      font-size: 14px;
    }
  }
}
