@import "./../Common/Styles/constants";
.main {
  padding-top: 10rem;
  transition: box-shadow .3s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1100px;

  @media screen and (max-width: $desktop-dpi-min-width) {
    width: max-content;
    /*flex-grow: 1;*/
    max-width: 100%;
    padding-top: 0;
  }
}


*, :after, :before {
  box-sizing: border-box;
}
