.main {
    padding-top: 10rem;
    transition: box-shadow .3s ease-in-out;
    display: flex;
    /*border: 1px solid red;*/
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 63.5%;
    /*min-width: 25%;*/
}

@media screen and (max-width: 1620px){
    .main {
        flex-grow: 1;
        max-width: 100%;
        padding-top: 0;

    }
}
*, :after, :before {
    box-sizing: border-box;
}
