@import "./../Styles/variables";
.buttonWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;

    :hover {
        transform: scale(1.1)
    }
    .sentButton {
        background-color: $blueColor;
        border-radius: 20px;
        border: 0;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05) !important;
        color: $whiteColor;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 400;
        line-height: inherit;
        padding: 0.5rem 2rem 0.5rem;
        transition: .4s ease-in-out;
        text-transform: none;
        width: max-content;
        -webkit-tap-highlight-color: transparent;
        :active {
            box-shadow: 11px 10px 55px 9px rgba(34, 60, 80, 0.65) !important;

        }
        :hover {
            transform: scale(1);
        }
    }
}