.mainContent {
    background-color:  #f8f9fa;
    width: 72%;
    border-radius: 20px;
    z-index: 1;
    margin-bottom: 50px;
    min-width: 280px;
}
@media screen and (max-width: 1620px){
    .mainContent {
        border-radius: 0 0 20px 20px;
        flex-grow: 1;
    }
}
.worksContainer{
    /*border: 1px solid black;*/
    width: 100%;
    height: 100px;
    min-width: 280px;
}

.worksContent{
    display: flex;
    justify-content: center;
    background-color:  #fff;
    border: 1px solid blue;
    margin-right: 15px;
    margin-left: 15px;
}
.sentButton{
    background-color: #304cfd;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.05)!important;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: inherit;
    padding: 0.9375rem 2rem 0.875rem;
    position: relative;
    transition: .4s ease-in-out;
    text-transform: none;
    width: 200px;
    -webkit-tap-highlight-color: transparent;
}
.sentButton:active{
    box-shadow: 11px 10px 55px 9px rgba(34, 60, 80, 0.65) !important;

}
.buttonWrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}