@import "src/Common/Styles/variables";
@import "src/Common/Styles/constants";

.mainContent {
  background-color: $firstInnerBlockBackgroundColor;
  width: 72%;
  border-radius: 20px;
  z-index: 1;
  margin-bottom: 50px;
  min-width: 280px;
  @media screen and (max-width: $desktop-dpi-min-width) {
    border-radius: 0;
    flex-grow: 1;
  }
}

