@import "src/Common/Styles/variables";
@import "src/Common/Styles/constants";

.aboutMe {
  background-color: $secondInnerBlockBackgroundColor;
  border-radius: 20px 20px 0 0;
  @media screen and (max-width: $desktop-dpi-min-width) {
    border-radius: 0;
  }
    p {
        text-align: justify;
        margin: 5px 0 5px 0;
        font-size: 1.125rem;
    }
}


